div{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    Margin-Bottom: 3px;
    padding-bottom: 0%;
    padding-top: 0%;

}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    /* Draw a solid border make it black */
    border-style: solid;
    border-width: 2px;
    border-color: rgb(236, 127, 127);
    /*Add space between the border and its inside elements. */
    padding: 1px;
    /* Color the background light green. */
    background : rgb(214, 194, 102);
    width: 95%;
    margin: auto;


}
image{
    text-align: center;
    size: 600px;

}
.general-principles{
    color: black;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    margin: auto;

}
.Measurement-methods{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}
#flow:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid;
    font-weight: 900;
}
p{
    font-family: 'Times New Roman', Times, serif;
}

div.align{
  text-align: center;
}