div{
    text-align:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    Margin-Bottom: 3px;
    padding-bottom: 3%;
    padding-top: 3%;

}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;

    border-style: outset;
    border-width: 10px;
    border-color: rgb(237, 168, 168);
    padding: 20px;
    background : rgb(164, 230, 238);
    width: 95%;
    margin: auto;

}
.general-principles{
    color: black;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    margin: auto;

}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: #79af33;
    text-decoration: none;
}
a:hover {
    color:blueviolet;
    font-style: bold;

}
.Measurement-methods{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;

}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: #79af33;
    text-decoration: none;
}
a:hover {
    color:blueviolet;
    font-style: bold;

}
div.align{
  text-align: left;

}
image{
    text-align: right;
    float: right;
    margin: 3px;
    size: 100px;

}

