div{
    text-align:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    Margin-Bottom: 3px;
    padding-bottom: 3%;
    padding-top: 3%;

}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    border-style: round;
    border-width: 2px;
    border-color: rgb(236, 127, 127);
    padding: 5px;
    background : rgb(214, 194, 102);
    width: 95%;
    margin: auto;


}
image{
    text-align: right;
    float: right;
    margin: 5px;
    size: 300px;

}
.general-principles{
    color: black;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    margin: auto;

}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: #79af33;
    text-decoration: none;
}
a:hover {
    color:blueviolet;
    font-style: bold;

}
.Measurement-methods{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: #79af33;
    text-decoration: none;
}
a:hover {
    color:blueviolet;
    font-style: bold;

}
#flow:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid;
    font-weight: 900;
}
p{
    font-family: 'Times New Roman', Times, serif;
}

div.align{
  text-align: left;

}