@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #94b3e2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: center;
}

.nav-link {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #3c497e;
    padding: 0.5em 1em;
}

.nav-link a {
    color: #0d0101;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(128, 128, 128);
   
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000000;
    background-color: #ffffff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #a2a2a2;
}
