body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 154, 21)65, 151, 42;
    font-family: Verdana, Arial, Tahoma;
    font-size: 12px;
}

header {
    position: fixed;
    top: 0px;
    background-color: rgb(86, 55, 4);
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    height: 200px;
    width: 100%;
    text-align: center;
}

h1{
    text-align: center;
    font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    
    border-style: inset;
    border-width: 10px;
    border-color: rgb(241, 195, 108);
    padding: 20px;
    background : rgb(100, 66, 3);
    width: 95%;
    margin: auto;
}

.menu-item, .site-name {
    display: inline-block;
    margin: 1px;
    min-width: 6px;
    text-align: center;
    background-color: #e9b61b;
    padding: 1px;
}

.menu-item a {
    color: #070606;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #db9166;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 183, 0)5, 191, 0;
    margin: 2px;
    color: black;
    background-color: beige;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 1px;
    min-width: 5px;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: rgb(234, 177, 72);
    background-color: #e08a11;
}

.Cappuccino{
    color: #000;
    size: 30px;
}

.Latte{
    color: #000;
    size: 30px;
}

.Breve{
    color:#000;
    size: 30px;
}

.Cafe{
    color:#000;
    size: 30px;
}

.Macchiato{
    color: #000;
    size: 30px;
}

.Americano{
    color: #000;
    size: 30px;
}
