body {
    font-size: 10pt;
    margin: 5px;
    padding: 5px;
    background-color: rgb(199, 154, 21)65, 151, 42;
    font-family: "../fonts/OpenSans.tff";
    font-size: 20px;

    position:relative;
    top: 10px;
}

h1{
    text-align: center;
    margin-top: auto;
    font-size: 40px;
}

h2{
    border-style: outset;
    border-width: 10%;
    border-color: rgb(56, 37, 3);
    padding: 20px;
    background : rgb(222, 178, 76);
    width: auto;
    text-align: left;
}

h3{
    border-style: outset;
    border-width: 10%;
    border-color: rgb(56, 37, 3);
    padding: 20px;
    background : rgb(222, 178, 76);
    width: auto;
    text-align: left;
}

h4{
    border-style: outset;
    border-width: 10%;
    border-color: rgb(56, 37, 3);
    padding: 20px;
    background : rgb(222, 178, 76);
    width: auto;
    text-align: left;
}

h5{
    border-style: outset;
    border-width: 10%;
    border-color: rgb(56, 37, 3);
    padding: 20px;
    background : rgb(222, 178, 76);
    width: auto;
    text-align: left;
}

header {
    position: relative;
    top: 0px;
    background-color: rgb(73, 46, 3);
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: center;
    overflow: scroll;
}

.menu-item, .site-name {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #e6bd16;
    padding: 0.5em 1em;
}

.menu-item a {
    color: #070606;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #db9166;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 183, 0)5, 191, 0;
    margin: 0.5em 0 0 -1em;
    color: black;
    background-color: beige;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: rgb(234, 177, 72);
    background-color: #e08a11;
}

.Cappuccino {
    font-size: 20px
    
}

.Latte{
    font-size: 20px;
}

.Breve{
    font-size: 20px; 
}

.Cafe{
    font-size: 20px;
}

.float .Cappuccino {
    float: left;
}

.float .Latte{
    float: left;
}

.float .Breve{
    float: left;
}

.Cafe{
    float: left;
}