body {
    font-size: 10pt;
    margin: 10px;
    padding: 20px;
    background-color: rgb(199, 154, 21)65, 151, 42;
    font-family: Verdana, Arial, Tahoma;
    font-size: 20px;

    position:relative;
    top: 100px;
}

header {
    position: relative;
    top: 20px;
    background-color: rgb(238, 201, 141);
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    height: 3px;
    width: 100%;
    text-align: center;
}

.menu-item, .site-name {
    display: inline-block;
    margin: 20px;
    min-width: 10%;
    text-align: center;
    background-color: #e9b61b;
    padding: 10px;
}

.menu-item a {
    color: #070606;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #db9166;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 183, 0)5, 191, 0;
    margin: 2px;
    color: black;
    background-color: beige;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 1px;
    min-width: 5px;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: rgb(234, 177, 72);
    background-color: #e08a11;
}

.Cappuccino {
    font-size: 16px
}

.cap-image {
    float: left;
    size: 150px;
}

.Latte{
    font-size: 16px;
}

.latte-image{
    float: left;
    size: 150px;
}

.Breve{
    font-size: 16px; 
}

.breve-image{
    float: left;
    size: 150px;
}

.Cafe{
    font-size: 16px;
}

.cafe-image{
    float:left;
    size: 150px;
}



